# emech .gitignore

energymech

src/Makefile
src/config.h
src/*.o
src/energymech
src/gencmd
src/mcmd.h
src/usercombo.h
src/aliastest
src/safepathtest

*~
*.bak
mech.passwd
mech.conf
mech.users
mech.pid
mech.session
root.zone*
trick.conf

conf
debug*
*.log
*.stats
github
